<div class="page-container" *ngIf="!loading && quiz">

  <div class="page-title">
    {{ quiz.title }}
  </div>

  <div
    class="question-box"
    *ngFor="let q of quiz.questions; let i = index"
  >
    <div class="question-header">
      Q{{ i + 1 }}. {{ q.text }}
      <span class="question-type">
        ({{ q.type }})
      </span>
    </div>

    <ul class="answer-list">
      <li
        *ngFor="let a of q.answers"
        [class.correct-answer]="a.isCorrect"
      >
        {{ a.text }}
        <span *ngIf="a.isCorrect">✓</span>
      </li>
    </ul>
  </div>

  <div class="form-actions">
    <button class="btn btn-secondary" routerLink="/quiz/list">
      Back
    </button>
  </div>

</div>

<div *ngIf="loading" class="loading-text">
  Loading quiz...
</div>
