<h2>{{quiz?.title}}</h2>
<p>AuthorId: {{quiz?.authorId}}</p>
<p>Published: {{quiz?.isPublished}}</p>

<h3>Questions</h3>
<ul>
  @for (q of quiz?.questions || []; track q) {
    <li>
      <strong>{{ q.text }}</strong> (type: {{ q.type }})

      <ul>
        @for (a of q.answers || []; track a) {
          <li>
            {{ a.text }}
            @if (a.isCorrect) {
              <span>✓</span>
            }
          </li>
        }
      </ul>
    </li>
  }
</ul>

<button routerLink="/quiz">Back</button>
