################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Raj-kumar-arora
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BackEnd/WebAPI/.vs/WebAPI
/BackEnd/WebAPI/bin/Debug/net8.0
/BackEnd/WebAPI/obj
/BackEnd/WebAPI/.vs/ProjectEvaluation
/FrontEnd/UI/.vscode
