<div class="page-container">
  <div class="page-title">Take Quiz</div>

  <div class="quiz-card" *ngIf="quiz">
    <h3 class="quiz-title">{{ quiz.title }}</h3>


    <div class="question-box"
         *ngFor="let q of quiz.questions; let i = index">

      <div class="question-title">
        {{ i + 1 }}. {{ q.text }}
      </div>

      <!-- Single choice -->
      <ul class="answer-list">
        <li *ngFor="let a of q.answers">
          <label class="answer-label">
            <input type="checkbox"
                  [checked]="a.selected"
                  (change)="toggleAnswer(q, a)">
            {{ a.text }}
          </label>
        </li>
      </ul>


    </div>

    <div class="form-actions">
      <button class="btn btn-primary" (click)="submitQuiz()">
        Submit Quiz
      </button>
    </div>

    <div *ngIf="submitted && result" style="margin-top: 20px;">
      <h2>Quiz Result</h2>

      <p>
        Score:
        <strong>{{ result.correctAnswers }}</strong>
        / {{ result.totalQuestions }}
      </p>

      <p>
        Percentage:
        <strong>{{ result.scorePercentage }}%</strong>
      </p>

      <hr />

      <div *ngFor="let q of quiz?.questions">
        <h4>{{ q.text }}</h4>

        <ul>
          <li *ngFor="let a of q.answers"
              [style.color]="
          submitted
            ? isAnswerCorrect(q.id!, a.id!)
              ? 'green'
              : a.selected
                ? 'red'
                : 'black'
            : 'black'
        ">
            {{ a.text }}
            <span *ngIf="isAnswerCorrect(q.id!, a.id!)">✓</span>
          </li>
        </ul>
      </div>
    </div>
