<div class="page-container">

  <h2 class="page-title">Edit Quiz</h2>

  <form [formGroup]="quizForm" (ngSubmit)="submit()">

    <!-- ================= TITLE ================= -->
    <div class="form-group">
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-input"
        formControlName="title"
        placeholder="Enter quiz title"
      />
    </div>

        <!-- ================= QUESTIONS ================= -->
    <div formArrayName="questions">
      <h3 class="section-title">Questions</h3>

      <button
        type="button"
        class="btn-primary btn-small"
        (click)="addQuestion()"
      >
        Add Question
      </button>

      <div
        class="question-box"
        *ngFor="let question of questions.controls; let qi = index"
        [formGroupName]="qi"
      >

        <!-- Question Text -->
        <div class="form-group">
          <label class="form-label">Question - {{ qi + 1 }}</label>
          <input
            type="text"
            class="form-input"
            formControlName="text"
            placeholder="Enter question"
          />
        </div>

        <!-- Question Type -->
        <div class="form-group">
          <label class="form-label">Type</label>
          <select class="form-input" formControlName="questionType">
            <option [value]="1">MultipleChoice</option>
            <option [value]="2">TrueFalse</option>
          </select>
        </div>

        <!-- ================= ANSWERS ================= -->
        <div formArrayName="answers">
          <h4 class="sub-title">Answers</h4>

          <button
            type="button"
            class="btn-secondary btn-small"
            (click)="addAnswer(qi)"
          >
            Add Answer
          </button>

          <div
            class="answer-box"
            *ngFor="let answer of getAnswers(qi).controls; let ai = index"
            [formGroupName]="ai"
          >

            <!-- Answer Text -->
            <input
              type="text"
              class="form-input"
              formControlName="text"
              placeholder="Answer text"
            />

            <!-- Correct + Remove -->
            <div class="answer-row">
              <label class="answer-correct">
                <input type="checkbox" formControlName="isCorrect" (change)="onCorrectChanged(qi, ai)"/>
                Correct
              </label>

              <button
                type="button"
                class="btn-danger btn-small"
                (click)="removeAnswer(qi, ai)"
              >
                Remove
              </button>
            </div>

          </div>
        </div>

        <!-- Remove Question -->
        <button
          type="button"
          class="btn-danger btn-small mt-10"
          (click)="removeQuestion(qi)"
        >
          Remove Question
        </button>

      </div>
    </div>

    <div class="error-text" *ngIf="error">{{ error }}</div>

  <!-- ================= ACTIONS ================= -->
  <div class="form-actions">
    <button type="submit" class="btn-primary">Save</button>
    <button type="button" class="btn-secondary" routerLink="/quiz/list">
      Cancel
    </button>
  </div>
</form>

</div>

<div class="page-container">
  <div class="page-title">Import Questions <span>(from External Open Trivia API)</span></div>

<form [formGroup]="importForm">
  <label>
    Number of Questions:
    <input type="number" formControlName="noOfQuestions" />
  </label>
  <label>
    Type:
    <select formControlName="type">
      <option value="multiple">Multiple Choice</option>
      <option value="boolean">True / False</option>
    </select>
  </label>

  <button type="button"
          (click)="importQuestions()" class="btn-primary"
          [disabled]="importing">
    Import
  </button>
</form>

@if (message)
{
  <p>{{ message }}</p>
}
