<div class="navbar">

  <!-- LEFT SECTION -->
  <div class="nav-left">
    <button routerLink="/">Home</button>
    <button *ngIf="auth.isLoggedIn()" routerLink="/quiz/create">Create Quiz</button>
    <button *ngIf="auth.isLoggedIn()" routerLink="/quiz/list">My Quizzes</button>
  </div>

  <!-- CENTER TITLE -->
  <div class="nav-center">
    <span class="title">Quiz Builder</span>
  </div>

  <!-- RIGHT SECTION -->
  <div class="nav-right">
    <button *ngIf="!auth.isLoggedIn()" (click)="openLogin()">Login</button>
    <button *ngIf="!auth.isLoggedIn()" (click)="openRegister()">Register</button>

    <button class="btn-danger"  *ngIf="auth.isLoggedIn()" (click)="confirmLogout()">Logout</button>
  </div>

</div>



<app-auth-modal
  *ngIf="showAuthModal"
  [mode]="mode"
  (close)="showAuthModal = false">
</app-auth-modal>
