<header class="navbar">
  <div class="logo" routerLink="/">QUIZ BUILDER</div>

  <nav class="nav-actions">
    <button routerLink="/">Home</button>

    <button *ngIf="!auth.isLoggedIn()" (click)="openLogin()"> Login </button>
    <button *ngIf="!auth.isLoggedIn()" (click)="openRegister()"> Register </button>

    <button *ngIf="auth.isLoggedIn()" routerLink="/quiz/list">My Quizzes</button>
    <button *ngIf="auth.isLoggedIn()" routerLink="/quiz/create">Create Quiz</button>

    <button *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</button>
  </nav>
</header>

<app-auth-modal
  *ngIf="showAuthModal"
  [mode]="mode"
  (close)="showAuthModal = false">
</app-auth-modal>
