<div class="page-container">
  <div class="section">
    <h2 class="section-title">My Quizzes</h2>

  @if (loading) {
    <div>Loading...</div>
  }
  @else if (!loading && quizzes.length == 0) {
    <div>No quizzes yet.</div>
  }
  @else if (error) {
    <div style="color: red">Error: {{ error }}</div>
  }

  <table>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let q of quizzes">
        <td>{{ q.title }}</td>
        <td>{{ q.isPublished ? 'Published' : 'Draft' }}</td>
        <td class="action-buttons">
          <button class="btn-primary" (click)="view(q.id)">View</button>
        @if (!q.isPublished) {
          <button class="btn-primary" (click)="edit(q.id)">Edit</button>
          <button (click)="publish(q.id!)">Publish</button>
        }
        @if (q.isPublished) {
          <button (click)="openQuiz(q.id!)">Open Quiz</button>
        }
        <button class="btn-danger" (click)="delete(q.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- <table border="1" cellpadding="8">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  @for (q of quizzes; track q.id) {
  <tr>
    <td>{{ q.title }}</td>

    <td>
      @if (q.isPublished) {
      <span style="color: green">Published</span>
      } @else {
      <span style="color: orange">Draft</span>
      }
    </td>

    <td>
      <button (click)="view(q.id!)">View</button>

      @if (!q.isPublished) {
      <button (click)="edit(q.id)">Edit</button>
      <button (click)="publish(q.id!)">Publish</button>
      }

      @if (q.isPublished) {
      <a [href]="'/take/' + q.permalink" target="_blank">
        Open Quiz
      </a>
      }

      <button (click)="delete(q.id)">Delete</button>
    </td>
  </tr>
  }
</table> -->



