<h2>Quizzes</h2>

<button (click)="create()">Create Quiz</button>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<table border="1" cellpadding="8">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  @for (q of quizzes; track q.id) {
  <tr>
    <td>{{ q.title }}</td>

    <td>
      @if (q.isPublished) {
      <span style="color: green">Published</span>
      } @else {
      <span style="color: orange">Draft</span>
      }
    </td>

    <td>
      <button (click)="view(q.id!)">View</button>

      @if (!q.isPublished) {
      <button (click)="edit(q.id)">Edit</button>
      <button (click)="publish(q.id!)">Publish</button>
      }

      @if (q.isPublished) {
      <a [href]="'/take/' + q.permalink" target="_blank">
        Open Quiz
      </a>
      }

      <button (click)="delete(q.id)">Delete</button>
    </td>
  </tr>
  }
</table>


<div *ngIf="!loading && quizzes.length === 0">No quizzes yet.</div>
