<h2>Login</h2>

@if (loading) {
  <div>Loading...</div>
}
@if (error) {
  <div style="color: red">Error: {{ error }}</div>
}

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label>Email</label><br />
    <input type="email" formControlName="email" />
  </div>

  <div>
    <label>Password</label><br />
    <input type="password" formControlName="password" />
  </div>

  <button type="submit">Login</button>
</form>

<!-- <p>
  Don't have an account?
  <a routerLink="/register">Register</a>
</p> -->
