.home-container {
  margin-top: 80px;
  text-align: center;
}

.home-container h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.home-container p {
  color: #666;
  margin-bottom: 40px;
}
/* .quiz-box {
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.85);
} */

.quiz-box {
  width: 400px;
  margin: auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.quiz-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.quiz-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

.quiz-box button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.quiz-box {
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.85);
}
